/* Head Area */
#header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-end;
  width: 85%;
}

#header .title {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#header .title img {
  max-width: 3em;
}

#header .title h2 {
  padding-left: 0.5em;
}

#header .score {
  margin: 0;
  color: #6c90ac;
}

#header .tried {
  margin-top: 0;
}

/* Card Area */
#cards {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
}

.card {
  /* 設定 box-sizing*/
  /* 寬高設定作用在邊框外緣的範圍內*/
  box-sizing: border-box;
  /* 卡片在容器內排版 */
  flex: 7% 1 1;
  /* 每個 item 分配容器寬度 */
  /* flex-basis(分配寬度) */
  /* flex-grow(分配剩餘空間) */
  /* flex-shrink(空間不足如何收縮) */
  height: 8vw;
  /* 依視窗的寬度等比例變化 */
  /* 8%視窗大小 */
  border: 1px solid #e0e0e0;
  margin: 2px;
  /* 卡片邊距 */
  border-radius: 5px;

  /* 卡片內部元素排版 */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card img {
  max-width: 30%;
  align-self: center;
}

.card p {
  margin: 2px;
  font-size: 15px;
}

.card p:last-child {
  transform: rotate(180deg);
}

.back {
  background: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.paired {
  background-color: #dae0e3;
}

/* 配對失敗的動畫 */
.wrong {
  animation-name: wrongAnimation;
  animation-duration: 0.2s;
  animation-iteration-count: 5;
}

@keyframes wrongAnimation {
  to {
    border: 2px solid #ffd54f;
  }
}

/* 遊戲結束 */
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: rgba(232, 246, 254, 0.8);
  width: 100vw;
  padding: 50px 0;
}

.completed>p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}

.completed>p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}